body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container{
    flex: 1;
}

/*Navbar*/
.navbar {
    height: 5rem;
    background-color: #fff;
}

.fa-compass {
    font-size: 2rem;
    color: #fe424d;
}

.nav-link {
    color: #222222 !important;
    font-size: 1.4rem
}


/*Footer*/
.f-info-links a {
    text-decoration: none;
    color: #222222 !important;
    font-size: 1.4rem
}

.f-info-links a:hover {
    color: #fe424d !important;
}

.f-info-links, 
.f-info-socials,
.f-info-brand{
    vertical-align: middle;
    width: 100%;
    align-items:center;
    justify-content: center;
}


.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    align-items: space-evenly;
}

/*Cards*/
.listing-card {
    border: none !important;
    margin-bottom: 2rem !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0rem !important;
}

.card-text p{
    font-weight: 400 !important;
}


.listing-links{
    text-decoration: none;
}


/*Card Effects*/
.card-img-overlay{
    opacity:0;
}


.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

/*New Page*/

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/*Edit Page*/
.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/*Show Page*/
.btns {
    display: flex;
}

.show-card{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

